{% extends "layout.html" %}


{% block content %}

<div class="morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#FDEF59">
    <path d="M190.882318,422.991582 C291.540494,373.409903 334.32884,348.516665 409.756717,311.643319 C485.184595,274.769974 547.619128,225.338087 665.102251,319.059696 C782.585373,412.781305 890.419268,464.832506 951.200371,484.180475 C1011.98147,503.528444 1155.27001,567.809044 1134.89949,394.603386 C1114.52897,221.397728 1084.22053,36.0591414 1059.78997,1.43587113 C1057.18246,-2.25952259 965.990181,-119.066861 847.448106,-115.938264 C693.678755,-111.879939 284.285495,-111.879939 -8.93242202,-28.340559 C-158.81077,14.3605981 -188.319274,123.266041 -201.017035,195.105912 C-227.608602,345.552491 -69.2882898,467.279781 -8.93242202,467.279781 C51.4234458,467.279781 90.2241416,472.573261 190.882318,422.991582 Z"\>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#29F6D3" >
    <path d='M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z'/>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph3" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#6644FD">
    <path
        d="m543.08 289.17c0 55.9-44 108.5-90.3 108.5-46.4 0-95-52.6-95-108.5 0-55.8 48.6-114.8 95-114.8 46.3 0 90.3 59 90.3 114.8z"/>
  </svg>
</div>


<div id="fullpage">

  <div class="container section">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 text-center">
        <h1>Motivation</h1>
        <p>
          Der starke und zielorientierte Fokus auf kreative Lösungen,
          treibt unser eingeschworenes und agiles
          Team an. Dabei erschaffen wir aus Leidenschaft eine Synthese aus
          neusten Erkenntnissen der  Forschung und den aktuellen Möglichkeiten der Praxis.
          Somit entstehen von Grund auf innovativ
          angesetzte Produkte und Dienstleistungen,
          welche durch ihre hohe Relevanz auch in Zukunft
          von hohem Nutzen sein werden.
        </p>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2>About us</h2>
        <p>
          Die Anfänge vom Albatros Coding lagen noch im Studium,
          wo die Gründungsmitglieder zusammen an ersten Projekten arbeiteten.
          Die hier gefundene gegenseitige Inspiration,
          und die geteilte Motivation sich über die Aufgaben hinaus
          tiefer in Themen einzuarbeiten, legten eine zukünftige Zusammenarbeit nahe.

          Die drei Freunde fanden visionäre innovative Partner aus der Industrie, die dem jungen Team eine Chance gaben.
          So enstand ohne Fremdkapital eine Gmbh und statt Heimarbeit wurde ein
          Büro angemietet in dem sich die Mitglieder täglich neuen Herausforderungen stellen.
        </p>
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row text-center justify-content-center">
      <div class="col-sm-12 col-md-6 col-xl-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Jan Milde</h3>
        <p>Mit einem Hintergrund in Psychologie, speziell der Neuropsychologie,
          spezialisierte er sich auf tiefe Neuronale Netze, mit Fokus auf
          semi- oder unsupervised learning sowie generative Modelle.
          Nach dem Betreiben von industrienaher Forschung in einem renomierten Forschungsintitut
          für künstliche Intelligenz, kommt diese Erfahrung jetzt bei Albatros Coding zum Einsatz.
        </p>
      </div>

      <div class="col-sm-12 col-md-6 col-xl-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Simon Untergasser</h3>
        <p>Seine Begeisterung an der in der Natur auftretenden Intelligenz,
          begründet sein fachliches Interesse.
          Schon während seines Studiums von Naturwissenschaften in der Informationsgesellschaft,
          spezialisierte er sich in den Bereichen künstliche Intelligenz und Robotik und vertiefte
          dies mit seinem Master.
          Neben seiner Tätigkeit bei Albatros lehrt und forscht er in der Humanoiden Robotik.
        </p>
      </div>


      <div class="col-sm-12 col-md-6 col-xl-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Kuan Yu</h3>
        <p>Nach einem Bachelor in Computational Lingustik, und einem Master in künstlicher Intelligenz,
          konzentrierte er sich auf Softwarentwicklung mit Fokus auf funktionelles, symbolisches und numerisches Programmieren.
          Sein starkes Interesse an Mathematik und Physik ermöglichen ihm ein tiefes Verständnis
          von vielen aktuellen Algorithmen der künstlichen Intelligenz.
        </p>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col text-center">
        <img src="..." class="img-fluid" style="max-width: 100%;height: auto;" width="800" height="400">
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-sm-12 col-lg-6 text-center">
        <h2>Location</h2>
        Torfstraße 18 <br>
        12345 Berlin <br>
      </div>
      <div class="col-sm-12 col-lg-6 text-center">
        <img src="" width="400" height="200">
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-12 text-center">
        <img src="..." class="img-fluid" style="max-width: 100%;height: auto;" width="800" height="400">
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <h1>Sag Hallo</h1>
      </div>
      <div class="col-sm-12 col-md-6">
        <a href="" class="info-button"
           style="text-decoration: none;  color: inherit; float:left;">
          <span style="">+12345678</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
        <a href="" class="info-button"
           style="text-decoration: none;  color: inherit; float:left;">
          <span style="">info@albatros-coding.de</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="container section fp-auto-height" >
    <div class="row align-items-end text-center" height="600px">
      <div class="col-4">
        <a class="footer-links" href="gdpr">Datenschutz</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="impressum">Impressum</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="jobs">Jobs</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/static/js.js"></script>
{% endblock %}
