{% extends "layout.html" %}


{% block content %}
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-8 text-center">
      <h1>Motivation</h1>
      Der starke und zielorientierte Fokus auf kreative Lösungen, treibt unser eingeschworenes und agiles
      Team an. Dabei erschaffen wir aus Leidenschaft eine Synthese aus neusten Erkenntnissen der
      Forschung und den aktuellen Möglichkeiten der Praxis. Somit entstehen von Grund auf innovativ
      angesetzte Produkte und Dienstleistungen, welche durch ihre Einfachheit und Relevanz auch in Zukunft
      von hohem Nutzen sein werden.
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-8 text-center">
      <h2>About us</h2>
      write somthing here
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="container-fluid  text-center">
    <h2> Team </h2>
    <div class="row text-center justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Kuan Yu</h3>
        <p>Realistic and use-case oriented</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Simon Untergasser</h3>
        <p>Finding unique solutions for new fields of application</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Jan Milde</h3>
        <p>Implementing and deploying existing state-of-the-art solutions</p>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br>


  <div class="row">
    <div class="col-6 text-center">
      <h2>Location</h2>
      Torfstraße 18 <br>
      12345 Berlin <br>
    </div>
    <div class="col-6">
      <img src="" width="400" height="200">
    </div>
  </div>

  <br><br>

  {% endblock %}
