{% extends "layout.html" %}


{% block content %}

<div class="morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#FDEF59">
    <path d="M190.882318,422.991582 C291.540494,373.409903 334.32884,348.516665 409.756717,311.643319 C485.184595,274.769974 547.619128,225.338087 665.102251,319.059696 C782.585373,412.781305 890.419268,464.832506 951.200371,484.180475 C1011.98147,503.528444 1155.27001,567.809044 1134.89949,394.603386 C1114.52897,221.397728 1084.22053,36.0591414 1059.78997,1.43587113 C1057.18246,-2.25952259 965.990181,-119.066861 847.448106,-115.938264 C693.678755,-111.879939 284.285495,-111.879939 -8.93242202,-28.340559 C-158.81077,14.3605981 -188.319274,123.266041 -201.017035,195.105912 C-227.608602,345.552491 -69.2882898,467.279781 -8.93242202,467.279781 C51.4234458,467.279781 90.2241416,472.573261 190.882318,422.991582 Z"\>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#29F6D3" >
    <path d='M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z'/>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph3" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#6644FD">
    <path
        d="m543.08 289.17c0 55.9-44 108.5-90.3 108.5-46.4 0-95-52.6-95-108.5 0-55.8 48.6-114.8 95-114.8 46.3 0 90.3 59 90.3 114.8z"/>
  </svg>
</div>
<div id="fullpage">
  <div class="container section">
    <div class="row">
      <div class="col">

        <h4>Datenschutzerklärung von Albatros Coding </h4>
        <p>
          Albatros Coding betreibt die Website www.albatros-coding.de, die
          Softwareentwicklungs- und Beratungsdienste für kleine und mittlere
          Unternehmen (KMUs) anbietet. Diese Seite dient dazu, die Besucher der
          Website über unsere Richtlinien zur Erfassung, Verwendung und Offenlegung
          persönlicher Daten, einschließlich der GDPR-Bestimmungen, zu informieren.
          Wenn Sie sich für die Nutzung unseres Dienstes entscheiden, erklären Sie sich
          mit der Erfassung und Nutzung von Informationen im Zusammenhang mit
          dieser Richtlinie einverstanden.
        </p>

        <p>
          Die von uns erfassten persönlichen Daten werden zur Bereitstellung und
          Verbesserung des Dienstes verwendet. Wir werden Ihre Informationen
          nicht verwenden oder an Dritte weitergeben, außer wie in dieser
          Datenschutzrichtlinie beschrieben.
        </p>
        <p>
          *** Die in dieser Datenschutzrichtlinie verwendeten Begriffe haben die
          gleiche Bedeutung wie in unseren Allgemeinen Geschäftsbedingungen, die
          unter www.albatros-coding.de zugänglich sind, sofern in dieser
          Datenschutzrichtlinie nicht anders definiert. ***
        </p>

        <h5>Sammlung und Verwendung von Informationen </h5>
        <p>
          Wenn Sie sich bezüglich unserer Dienstleistungen an uns
          wenden, kann es sein, dass wir Sie bitten, uns eine E-Mail zu senden, die
          unter anderem Ihren Namen und Ihre Geschäftsdaten enthält. Die von uns
          gesammelten Informationen können verwendet werden, um Sie später
          bezüglich geschäftlicher Anfragen oder Aktualisierungen unseres
          Dienstes zu kontaktieren.
        </p>

        <h4>GDPR</h4>
        <p>
          Um diese Website betreiben zu können, erheben, erfassen,
          organisieren, strukturieren, speichern, nutzen oder verarbeiten wir anderweitig
          Daten, die sich auf Sie als identifizierte oder identifizierbare
          natürliche Person ("Betroffener") beziehen, wie in Art. 1 Absatz 1
          GDPR beschrieben wird. Durch die Verarbeitung dieser Daten entscheiden
          wir im Allgemeinen über die Mittel und Zwecke der Datenverarbeitung
          und arbeiten somit als für die Datenverarbeitung Verantwortlicher.
        </p>
        <p>
          Diese Richtlinie soll Sie darüber informieren, zu welchen Zwecken und
          auf welcher rechtlichen Grundlage personenbezogene Daten von uns
          verarbeitet werden. Darüber hinaus informieren wir Sie über Ihre
          Rechte in Bezug auf Ihre persönlichen Daten. Diese Richtlinie wurde
          zuletzt an dem oben genannten Datum des Inkrafttretens aktualisiert.
          Diese Richtlinie kann von Zeit zu Zeit ergänzt oder aktualisiert
          werden, um Änderungen unserer Datenschutzpraktiken in Bezug auf die
          Verarbeitung personenbezogener Daten oder Änderungen des geltenden
          Rechts zu berücksichtigen. Wir empfehlen Ihnen, diese
          Datenschutzrichtlinie lokal auf Ihrem Computer zu speichern und diese
          Seite regelmäßig zu überprüfen, damit Sie sich über etwaige Änderungen
          informieren können, die wir vornehmen. Die
          rechtliche Grundlage für diese Verarbeitung und Weitergabe findet sich
          in Art. 6 (1) 1 lit. c) GDPR und Art. 13 (3) GDPR
        </p>
        <p>
          Zur Ausübung Ihrer Rechte wenden Sie sich bitte an uns:
          Albatros Coding GmbH <br>
          Ravenéstraße 10, <br>
          14612 Falkensee, <br>
          management@albatros-coding.de <br>
        </p>
        <p>
          Sobald persönliche Daten verarbeitet werden, haben Sie folgende
          Rechte: Recht auf Zugang. Gemäss Art. 15 GDPR haben Sie das Recht,
          eine Bestätigung darüber zu erhalten, ob Ihre Personendaten bearbeitet
          werden oder nicht. Wenn wir Ihre persönlichen Daten verarbeiten, haben
          Sie das Recht, Informationen über diese persönlichen Daten und die
          Verarbeitung zu erhalten, einschliesslich ausführlicher Informationen
          darüber, was wir mit Ihren persönlichen Daten tun.
        </p>

        <h5>Recht auf Berichtigung </h5>
        <p>
          Gemäss Art. 16 GDPR haben Sie das Recht, von
          uns die Berichtigung Ihrer persönlichen Daten zu verlangen, wenn diese
          unrichtig oder fehlerhaft sind. Wir werden Ihre Daten sofort nach der
          Meldung berichtigen.
        </p>

        <h5>Recht auf Einschränkung der Verarbeitung </h5>
        <p>
          Gemäss Art. 18 GDPR haben Sie
          das Recht, eine Einschränkung der Bearbeitung Ihrer Personendaten zu
          verlangen. Wenn wir die Verarbeitung der Personendaten einstellen,
          können wir diese jedoch wieder verwenden, wenn es dafür
          datenschutzrechtliche Gründe gibt (z.B. zur Erfüllung
          regulatorischer Verpflichtungen in Bezug auf Gesetze und Verfahren zur
          Bekämpfung der
          Geldwäscherei, der Terrorismusfinanzierung und der
          Sorgfaltspflicht gegenüber Kunden, zur Abwehr von Rechtsansprüchen
          oder zum Schutz Dritter). Sie können uns auffordern, die Verarbeitung
          einzustellen und nur die persönlichen Daten zu speichern, die wir von Ihnen
          haben, wennn: Sie glauben, dass die personenbezogenen
          Daten nicht korrekt sind, und zwar für den Zeitraum, den wir
          benötigen, um zu überprüfen, ob die personenbezogenen Daten korrekt
          sind; wir möchten die personenbezogenen Daten löschen, da die
          Verarbeitung, die wir vornehmen, unrechtmäßig ist, aber Sie möchten,
          dass wir sie stattdessen speichern; wir möchten die personenbezogenen
          Daten löschen, da sie für unsere Zwecke nicht mehr erforderlich sind,
          aber Sie möchten, dass sie zur Begründung, Ausübung oder Verteidigung
          von Rechtsansprüchen gespeichert werden; oder Sie haben aufgrund
          unseres berechtigten Interesses Einwände gegen die Verarbeitung der
          personenbezogenen Daten, die wir über Sie gespeichert haben, erhoben,
          und Sie möchten, dass wir die Verarbeitung der personenbezogenen Daten
          einstellen, während wir feststellen, ob ein überwiegendes Interesse an
          der Speicherung dieser personenbezogenen Daten besteht.
        </p>

        <h5> Recht auf Löschung ("Recht, vergessen zu werden") </h5>
        <p>
          Gemäss Art. 17 GDPR
          haben Sie das Recht, Ihre persönlichen Daten ohne unangemessene
          Verzögerung löschen zu lassen. Das Recht auf Löschung besteht nicht,
          wenn die Verarbeitung Ihrer personenbezogenen Daten für die Ausübung
          des Rechts auf freie Meinungsäusserung und des Auskunftsrechts zur
          Erfüllung des Rechts auf freie Meinungsäusserung und des Rechts auf
          Information erforderlich ist. Das Recht auf Löschung besteht nicht,
          wenn die Verarbeitung Ihrer personenbezogenen Daten für die Ausübung
          des Rechts auf freie Meinungsäußerung und des Rechts auf Information
          zur Erfüllung einer uns obliegenden gesetzlichen Verpflichtung oder
          zur Geltendmachung, Durchsetzung oder Abwehr von Rechtsansprüchen
          erforderlich ist.
        </p>

        <h5>Recht auf Datenportabilität </h5>
        <p>
          Gemäss Art. 20 GDPR haben Sie das Recht,
          Ihre persönlichen Daten, die Sie der verantwortlichen Stelle zur
          Verfügung gestellt haben, in einem strukturierten, allgemein üblichen
          und maschinenlesbaren Format zu erhalten. Die Verarbeitung erfolgt auf
          der Grundlage einer Einwilligung gemäß Art. 6 Abs. 1 lit. a) GDPR oder
          auf der Grundlage eines Vertrages gemäß Art. 6 Abs. 1 lit. b) GDPR;
          und die Verarbeitung erfolgt auf automatisiertem Wege. Die relevante
          Teilmenge der personenbezogenen Daten sind Daten, die Sie uns mit
          Ihrer Einwilligung oder zum Zwecke der Erfüllung unseres Vertrages mit
          Ihnen zur Verfügung stellen. Bitte geben Sie so detailliert wie möglich
          Ihre Gründe für die Anfrage an, um uns bei der Feststellung zu
          unterstützen, ob Sie eine gültige Grundlage für die Löschung haben.
          Wir können Ihre persönlichen Daten jedoch aufbewahren, wenn es nach
          dem Gesetz triftige Gründe dafür gibt, aber wir werden Sie darüber
          informieren, wenn dies der Fall ist. Bitte beachten Sie, dass wir
          Ihnen nach der Löschung der persönlichen Daten möglicherweise nicht
          den gleichen Service bieten können, da uns Ihre Präferenzen nicht
          bekannt sind.
        </p>

        <h5>Recht auf Einspruch </h5>
        <p>
          Gemäss Art. 21 GDPR haben Sie jederzeit das Recht,
          aus Gründen, die sich auf Ihre besondere Situation beziehen, der
          Verarbeitung Ihrer personenbezogenen Daten, die auf Artikel 6 Absatz 1
          lit. e) oder lit. f) GDPR beruht, einschließlich der Erstellung von
          Profilen auf der Grundlage dieser Bestimmungen, zu widersprechen. Der
          für die Verarbeitung Verantwortliche darf Ihre personenbezogenen Daten
          nicht mehr verarbeiten, es sei denn, er kann zwingende legitime Gründe
          für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
          Freiheiten überwiegen, oder wenn die Verarbeitung zur Begründung,
          Ausübung oder Verteidigung von Rechtsansprüchen dient.
        </p>

        <h5>Recht auf Widerruf Ihrer Zustimmung</h5>
        <p>
          Sie haben das Recht, Ihre
          Einwilligung nach dem Datenschutzgesetz jederzeit zu widerrufen. Der
          Widerruf Ihrer Einwilligung hat keinen Einfluss auf die
          Rechtmässigkeit der Verarbeitung, die auf einer vor dem Widerruf
          erfolgten Einwilligung beruht. 22 GD
          PR haben Sie das Recht, nicht
          einer Entscheidung unterworfen zu werden, die ausschließlich auf einer
          automatisierten Verarbeitung, einschließlich der Erstellung von
          Profilen, beruht, die rechtliche Folgen für Sie hat oder Sie in
          ähnlicher Weise erheblich beeinträchtigt. Recht auf Einreichung einer
          Beschwerde bei einer Aufsichtsbehörde Unbeschadet anderer
          administrativer oder gerichtlicher Rechtsbehelfe haben Sie das Recht,
          bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat, in dem
          Sie Ihren gewöhnlichen Aufenthalt, Ihren Arbeitsplatz oder den Ort der
          behaupteten Rechtsverletzung haben, eine Beschwerde einzureichen, wenn
          Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen
          Daten gegen das GDPR verstößt. Sie haben das Recht, sich bei Fragen
          oder Beschwerden an die Aufsichtsbehörde zu wenden. Die
          Aufsichtsbehörde von Albatros Coding ist die
          Datenschutzaufsichtsbehörde in Berlin ( Berliner Beautragte für
          Datenschutz und Informationsfreiheit') https://datenschutz-berlin.de/.
        </p>

        <h5>Transfer in Drittländer</h5>
        <p>
          Zurzeit verwenden wir keine Prozessoren, die
          Ihre Daten außerhalb der Europäischen Union verarbeiten.
          Möglicherweise setzen wir Prozessoren ein, die Ihre Daten in Ländern
          außerhalb der EU verarbeiten, die kein angemessenes, mit der EU
          vergleichbares Datenschutzniveau gewährleisten (keine
          Angemessenheitsentscheidung der EU-Kommission). Wenn wir dies tun,
          stellen wir sicher, dass der Auftragsverarbeiter in diesem Drittland
          ein Datenschutzniveau gewährleistet, das mit dem GDPR vergleichbar
          ist. Für den Fall, dass wir personenbezogene Daten außerhalb des
          territorialen Geltungsbereichs der GDPR übermitteln, stellen wir
          sicher, dass entweder eine Angemessenheitsentscheidung der
          Europäischen Kommission vorliegt oder durch die Verwendung der
          Standardvertragsklauseln der EU-Kommission ein mit der GDPR
          vergleichbares Datenschutzniveau gewährleistet ist (
          https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32010D0087&from=en
          )
        </p>

        <h5>Dritte</h5>
        <p>
          Um Ihnen effektive und kontinuierliche Produkte und
          Dienstleistungen anbieten zu können und zu den oben genannten Zwecken,
          können Ihre persönlichen Daten an folgende Parteien weitergegeben
          werden:Dienstleister, die der Albatros Coding UG operative
          Dienstleistungen wie Informationstechnologie und E-Mail-Dienste zur
          Verfügung stellen. ProtokolldatenWir möchten Sie darüber informieren,
          dass wir bei jedem Besuch unseres Dienstes Informationen sammeln, die
          Ihr Browser an uns sendet, so genannte Protokolldaten. Diese
          Protokolldaten können Informationen wie die Internet-Protokoll-Adresse
          ("IP-Adresse") Ihres Computers, die Browserversion, die von Ihnen
          besuchten Seiten unseres Dienstes, die Uhrzeit und das Datum Ihres
          Besuchs, die auf diesen Seiten verbrachte Zeit und andere statistische
          Daten enthalten.CookiesCookies sind Dateien mit kleinen Datenmengen,
          die häufig als anonyme, eindeutige Kennung verwendet werden. Diese
          werden von der Website, die Sie besuchen, an Ihren Browser gesendet
          und auf der Festplatte Ihres Computers gespeichert. Unsere Website
          verwendet diese "Cookies", um Informationen zu sammeln und unseren
          Service zu verbessern. Sie haben die Möglichkeit, diese Cookies zu
          akzeptieren oder abzulehnen, und wissen, wann ein Cookie an Ihren
          Computer gesendet wird. Wenn Sie sich entscheiden, unsere Cookies
          abzulehnen, kann es sein, dass Sie einige Teile unseres Dienstes nicht
          nutzen können.
        </p>

        <h5>Anbieter von Dienstleistungen</h5>
        <p>
          Wir können Drittfirmen und
          Einzelpersonen aus folgenden Gründen beschäftigen:Um unseren Dienst zu
          erleichtern;Um den Dienst in unserem Namen zu erbringen;Um
          dienstleistungsbezogene Dienstleistungen zu erbringen; oderUm uns bei
          der Analyse der Nutzung unseres Dienstes zu unterstützen. Wir möchten
          unsere Service-Benutzer darüber informieren, dass diese Drittparteien
          Zugang zu Ihren persönlichen Daten haben. Der Grund dafür ist, die
          ihnen zugewiesenen Aufgaben in unserem Namen auszuführen. Sie sind
          jedoch verpflichtet, die Informationen nicht offenzulegen oder für
          andere Zwecke zu verwenden.
        </p>

        <h5>Sicherheit</h5>
        <p>
          Wir wissen Ihr Vertrauen zu schätzen, dass Sie uns Ihre
          persönlichen Daten zur Verfügung stellen, und sind daher bestrebt,
          kommerziell akzeptable Mittel zum Schutz dieser Daten einzusetzen.
          Aber denken Sie daran, dass keine Methode der Übertragung über das
          Internet oder der elektronischen Speicherung 100% sicher und
          zuverlässig ist und wir keine absolute Sicherheit garantieren können.
          Wenn Sie auf einen Link eines Dritten klicken, werden Sie zu dieser
          Seite weitergeleitet. Beachten Sie, dass diese externen Sites nicht
          von uns betrieben werden. Daher raten wir Ihnen dringend, die
          Datenschutzrichtlinien dieser Websites zu überprüfen. Wir haben keine
          Kontrolle über und übernehmen keine Verantwortung für den Inhalt, die
          Datenschutzrichtlinien oder die Praktiken von Websites oder Diensten
          Dritter. Wir erfassen nicht wissentlich personenbezogene Daten von
          Kindern unter 13 Jahren. Sollten wir feststellen, dass ein Kind unter
          13 Jahren uns persönliche Daten zur Verfügung gestellt hat, löschen
          wir diese sofort von unseren Servern. Wenn Sie ein Elternteil oder ein
          Erziehungsberechtigter sind und Sie wissen, dass Ihr Kind uns
          personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie
          uns bitte, damit wir die notwendigen Schritte einleiten können.
        </p>

        <h5>Änderungen an dieser Datenschutzrichtlinie</h5>
        <p>
          Wir können unsere
          Datenschutzrichtlinie von Zeit zu Zeit aktualisieren. Wir empfehlen
          Ihnen daher, diese Seite regelmäßig auf Änderungen zu überprüfen. Wir
          werden Sie über alle Änderungen informieren, indem wir die neue
          Datenschutzrichtlinie auf dieser Seite veröffentlichen. Diese
          Änderungen treten sofort in Kraft, nachdem sie auf dieser Seite
          veröffentlicht wurden. Wir schätzen Ihr Recht auf Datenschutz und
          bitten Sie, uns bei weiteren Fragen zu kontaktieren:
          management@albatros-coding.de
        </p>
        <p>
          Vielen Dank.
        </p>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="container section fp-auto-height" >
    <div class="row align-items-end text-center" height="600px">
      <div class="col-4">
        <a class="footer-links" href="gdpr">Datenschutz</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="impressum">Impressum</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="jobs">Jobs</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js_plain.js"></script>
{% endblock %}
