{% extends "layout.html" %}


{% block content %}


<div class="container morph-wrap">
  <svg id="morph6" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#B9B9B7">
    <path d="M 629.84164,688.66846 C 653.58061,707.74011 659.01947,733.35261 651.95515,753.64253 644.89082,773.93246 625.32332,788.95525 610.82969,807.13821 596.33605,825.32117 586.9163,846.71975 567.98165,850.2115 548.95639,853.64781 520.32564,839.23273 475.84149,836.07082 431.35733,832.85348 376.37762,707.70697 395.36666,675.8872 414.35571,644.06744 442.37485,588.78452 475.26128,582.07798 493.48086,578.36246 531.6443,605.64327 566.11312,633.94956 593.86068,656.73627 619.21401,680.18752 629.84164,688.66846 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph5" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#A28DFC">
    <path d="M 735.87987,756.74112 C 763.37364,766.85753 798.91468,778.19454 829.91468,802.19454 843.56537,815.84523 798.38333,833.32141 747.09964,849.56755 708.21875,861.88461 665.83067,873.49465 642.91468,882.19454 589.97174,902.36957 560.5976,917.85177 486.91468,915.19454 413.03269,912.5864 347.73674,952.13139 284.91468,915.19454 263.53769,902.62573 431.05932,708.24596 466.91468,705.19454 554.52355,697.6896 582.25935,750.86618 615.91468,752.19454 649.3708,753.47378 708.38617,746.67381 735.87987,756.74112 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph4" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fdf49a">
    <path d="M 443.3598,492.70714 C 502.98116,531.51175 526.45434,642.62082 512.42488,734.78424 498.5357,826.94766 454.02343,800.1489 413.76048,884.85013 373.49753,969.55141 278.88206,1047.3767 206.52817,1011.2294 134.17428,975.08211 150.94451,899.2505 88.167984,868.41956 23.487993,836.65379 1.2130331,731.67163 1.2130331,703.6328 1.2130331,640.76033 53.183198,639.37182 119.95984,602.24429 186.73649,564.93019 155.04052,504.75622 213.02256,482.19753 271.0046,459.63884 383.73844,453.71596 443.3598,492.70714 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph3" width="1440" heighft="1024" viewBox="0 0 1440 1024" style="fill:#DEDEDE">
    <path d="M 824.50391,0.01171875 C 874.92913,0.18204415 1118.2681,41.393218 1066.4678,115.19074 1050.5172,140.6307 794.4045,167.73446 751.1576,177.62192 707.9107,187.57574 646.91766,180.14355 618.1361,159.97048 589.20541,139.7974 592.48621,106.94979 576.67872,87.639378 560.87124,68.328966 565.79574,70.206042 511.9575,52.336494 458.11925,34.466946 432.00391,31.011719 453.00391,0.01171875 453.00391,0.01171875 581.67058,0.01171875 646.00391,0.01171875 705.50391,0.01171875 824.50391,0.01171875 824.50391,0.01171875 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fcd2f9">
    <path d="M 1309.9844,0.01171875 C 1296.95,24.843083 1295.8889,46.886319 1234.8703,88.546064 1174.0801,130.20579 1089.8209,166.421 1005.2947,160.95659 954.44278,157.73882 901.3889,180.98205 851.92776,182.01172 818.95224,182.6982 801.93562,176.90347 811.88688,155.03668 836.25912,101.48139 837.52788,98.130836 860.05135,74.344783 830.24892,25.809992 799.47146,0.04548586 814.98437,0.01171875 814.98437,0.01171875 946.9844,0.01171875 1029.4844,0.01171875 1111.9844,0.01171875 1309.9844,0.01171875 1309.9844,0.01171875 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#7bf9e5" >
    <path d="M 890.725,15.015538 C 924.44719,28.502862 1035.0592,6.3417374 1056.5296,47.674774 1078,89.007812 915.15412,161.50066 857.00941,161.50066 798.86471,161.50066 753.92167,188.98132 725.52355,178.21571 697.12542,167.51496 794.39352,107.27771 768.83193,69.334735 743.27035,31.391756 653.41945,101.24321 637.58097,55.967706 621.74249,10.692196 628,6.5078125 642,0.0078125 642,0.0078125 848.98786,0.00648379 851.78204,0.01875627 877.26283,9.7616745 857.0028,1.5282127 890.725,15.015538 Z"/>
  </svg>
</div>

<div id="fullpage">
  <div class="container section">
    <div class="row">
      <div class="col">

        <h4>Datenschutzerklärung von Albatros Coding </h4>
        <p>
          Albatros Coding betreibt die Website www.albatros-coding.de, die
          Softwareentwicklungs- und Beratungsdienste für kleine und mittlere
          Unternehmen (KMUs) anbietet. Diese Seite dient dazu, die Besucher der
          Website über unsere Richtlinien zur Erfassung, Verwendung und Offenlegung
          persönlicher Daten, einschließlich der GDPR-Bestimmungen, zu informieren.
          Wenn Sie sich für die Nutzung unseres Dienstes entscheiden, erklären Sie sich
          mit der Erfassung und Nutzung von Informationen im Zusammenhang mit
          dieser Richtlinie einverstanden.
        </p>

        <p>
          Die von uns erfassten persönlichen Daten werden zur Bereitstellung und
          Verbesserung des Dienstes verwendet. Wir werden Ihre Informationen
          nicht verwenden oder an Dritte weitergeben, außer wie in dieser
          Datenschutzrichtlinie beschrieben.
        </p>
        <p>
          *** Die in dieser Datenschutzrichtlinie verwendeten Begriffe haben die
          gleiche Bedeutung wie in unseren Allgemeinen Geschäftsbedingungen, die
          unter www.albatros-coding.de zugänglich sind, sofern in dieser
          Datenschutzrichtlinie nicht anders definiert. ***
        </p>

        <h5>Sammlung und Verwendung von Informationen </h5>
        <p>
          Wenn Sie sich bezüglich unserer Dienstleistungen an uns
          wenden, kann es sein, dass wir Sie bitten, uns eine E-Mail zu senden, die
          unter anderem Ihren Namen und Ihre Geschäftsdaten enthält. Die von uns
          gesammelten Informationen können verwendet werden, um Sie später
          bezüglich geschäftlicher Anfragen oder Aktualisierungen unseres
          Dienstes zu kontaktieren.
        </p>

        <h4>GDPR</h4>
        <p>
          Um diese Website betreiben zu können, erheben, erfassen,
          organisieren, strukturieren, speichern, nutzen oder verarbeiten wir anderweitig
          Daten, die sich auf Sie als identifizierte oder identifizierbare
          natürliche Person ("Betroffener") beziehen, wie in Art. 1 Absatz 1
          GDPR beschrieben wird. Durch die Verarbeitung dieser Daten entscheiden
          wir im Allgemeinen über die Mittel und Zwecke der Datenverarbeitung
          und arbeiten somit als für die Datenverarbeitung Verantwortlicher.
        </p>
        <p>
          Diese Richtlinie soll Sie darüber informieren, zu welchen Zwecken und
          auf welcher rechtlichen Grundlage personenbezogene Daten von uns
          verarbeitet werden. Darüber hinaus informieren wir Sie über Ihre
          Rechte in Bezug auf Ihre persönlichen Daten. Diese Richtlinie wurde
          zuletzt an dem oben genannten Datum des Inkrafttretens aktualisiert.
          Diese Richtlinie kann von Zeit zu Zeit ergänzt oder aktualisiert
          werden, um Änderungen unserer Datenschutzpraktiken in Bezug auf die
          Verarbeitung personenbezogener Daten oder Änderungen des geltenden
          Rechts zu berücksichtigen. Wir empfehlen Ihnen, diese
          Datenschutzrichtlinie lokal auf Ihrem Computer zu speichern und diese
          Seite regelmäßig zu überprüfen, damit Sie sich über etwaige Änderungen
          informieren können, die wir vornehmen. Die
          rechtliche Grundlage für diese Verarbeitung und Weitergabe findet sich
          in Art. 6 (1) 1 lit. c) GDPR und Art. 13 (3) GDPR
        </p>
        <p>
          Zur Ausübung Ihrer Rechte wenden Sie sich bitte an uns:
          Albatros Coding GmbH <br>
          Ravenéstraße 10, <br>
          14612 Falkensee, <br>
          management@albatros-coding.de <br>
        </p>
        <p>
          Sobald persönliche Daten verarbeitet werden, haben Sie folgende
          Rechte: Recht auf Zugang. Gemäss Art. 15 GDPR haben Sie das Recht,
          eine Bestätigung darüber zu erhalten, ob Ihre Personendaten bearbeitet
          werden oder nicht. Wenn wir Ihre persönlichen Daten verarbeiten, haben
          Sie das Recht, Informationen über diese persönlichen Daten und die
          Verarbeitung zu erhalten, einschliesslich ausführlicher Informationen
          darüber, was wir mit Ihren persönlichen Daten tun.
        </p>

        <h5>Recht auf Berichtigung </h5>
        <p>
          Gemäss Art. 16 GDPR haben Sie das Recht, von
          uns die Berichtigung Ihrer persönlichen Daten zu verlangen, wenn diese
          unrichtig oder fehlerhaft sind. Wir werden Ihre Daten sofort nach der
          Meldung berichtigen.
        </p>

        <h5>Recht auf Einschränkung der Verarbeitung </h5>
        <p>
          Gemäss Art. 18 GDPR haben Sie
          das Recht, eine Einschränkung der Bearbeitung Ihrer Personendaten zu
          verlangen. Wenn wir die Verarbeitung der Personendaten einstellen,
          können wir diese jedoch wieder verwenden, wenn es dafür
          datenschutzrechtliche Gründe gibt (z.B. zur Erfüllung
          regulatorischer Verpflichtungen in Bezug auf Gesetze und Verfahren zur
          Bekämpfung der
          Geldwäscherei, der Terrorismusfinanzierung und der
          Sorgfaltspflicht gegenüber Kunden, zur Abwehr von Rechtsansprüchen
          oder zum Schutz Dritter). Sie können uns auffordern, die Verarbeitung
          einzustellen und nur die persönlichen Daten zu speichern, die wir von Ihnen
          haben, wennn: Sie glauben, dass die personenbezogenen
          Daten nicht korrekt sind, und zwar für den Zeitraum, den wir
          benötigen, um zu überprüfen, ob die personenbezogenen Daten korrekt
          sind; wir möchten die personenbezogenen Daten löschen, da die
          Verarbeitung, die wir vornehmen, unrechtmäßig ist, aber Sie möchten,
          dass wir sie stattdessen speichern; wir möchten die personenbezogenen
          Daten löschen, da sie für unsere Zwecke nicht mehr erforderlich sind,
          aber Sie möchten, dass sie zur Begründung, Ausübung oder Verteidigung
          von Rechtsansprüchen gespeichert werden; oder Sie haben aufgrund
          unseres berechtigten Interesses Einwände gegen die Verarbeitung der
          personenbezogenen Daten, die wir über Sie gespeichert haben, erhoben,
          und Sie möchten, dass wir die Verarbeitung der personenbezogenen Daten
          einstellen, während wir feststellen, ob ein überwiegendes Interesse an
          der Speicherung dieser personenbezogenen Daten besteht.
        </p>

        <h5> Recht auf Löschung ("Recht, vergessen zu werden") </h5>
        <p>
          Gemäss Art. 17 GDPR
          haben Sie das Recht, Ihre persönlichen Daten ohne unangemessene
          Verzögerung löschen zu lassen. Das Recht auf Löschung besteht nicht,
          wenn die Verarbeitung Ihrer personenbezogenen Daten für die Ausübung
          des Rechts auf freie Meinungsäusserung und des Auskunftsrechts zur
          Erfüllung des Rechts auf freie Meinungsäusserung und des Rechts auf
          Information erforderlich ist. Das Recht auf Löschung besteht nicht,
          wenn die Verarbeitung Ihrer personenbezogenen Daten für die Ausübung
          des Rechts auf freie Meinungsäußerung und des Rechts auf Information
          zur Erfüllung einer uns obliegenden gesetzlichen Verpflichtung oder
          zur Geltendmachung, Durchsetzung oder Abwehr von Rechtsansprüchen
          erforderlich ist.
        </p>

        <h5>Recht auf Datenportabilität </h5>
        <p>
          Gemäss Art. 20 GDPR haben Sie das Recht,
          Ihre persönlichen Daten, die Sie der verantwortlichen Stelle zur
          Verfügung gestellt haben, in einem strukturierten, allgemein üblichen
          und maschinenlesbaren Format zu erhalten. Die Verarbeitung erfolgt auf
          der Grundlage einer Einwilligung gemäß Art. 6 Abs. 1 lit. a) GDPR oder
          auf der Grundlage eines Vertrages gemäß Art. 6 Abs. 1 lit. b) GDPR;
          und die Verarbeitung erfolgt auf automatisiertem Wege. Die relevante
          Teilmenge der personenbezogenen Daten sind Daten, die Sie uns mit
          Ihrer Einwilligung oder zum Zwecke der Erfüllung unseres Vertrages mit
          Ihnen zur Verfügung stellen. Bitte geben Sie so detailliert wie möglich
          Ihre Gründe für die Anfrage an, um uns bei der Feststellung zu
          unterstützen, ob Sie eine gültige Grundlage für die Löschung haben.
          Wir können Ihre persönlichen Daten jedoch aufbewahren, wenn es nach
          dem Gesetz triftige Gründe dafür gibt, aber wir werden Sie darüber
          informieren, wenn dies der Fall ist. Bitte beachten Sie, dass wir
          Ihnen nach der Löschung der persönlichen Daten möglicherweise nicht
          den gleichen Service bieten können, da uns Ihre Präferenzen nicht
          bekannt sind.
        </p>

        <h5>Recht auf Einspruch </h5>
        <p>
          Gemäss Art. 21 GDPR haben Sie jederzeit das Recht,
          aus Gründen, die sich auf Ihre besondere Situation beziehen, der
          Verarbeitung Ihrer personenbezogenen Daten, die auf Artikel 6 Absatz 1
          lit. e) oder lit. f) GDPR beruht, einschließlich der Erstellung von
          Profilen auf der Grundlage dieser Bestimmungen, zu widersprechen. Der
          für die Verarbeitung Verantwortliche darf Ihre personenbezogenen Daten
          nicht mehr verarbeiten, es sei denn, er kann zwingende legitime Gründe
          für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und
          Freiheiten überwiegen, oder wenn die Verarbeitung zur Begründung,
          Ausübung oder Verteidigung von Rechtsansprüchen dient.
        </p>

        <h5>Recht auf Widerruf Ihrer Zustimmung</h5>
        <p>
          Sie haben das Recht, Ihre
          Einwilligung nach dem Datenschutzgesetz jederzeit zu widerrufen. Der
          Widerruf Ihrer Einwilligung hat keinen Einfluss auf die
          Rechtmässigkeit der Verarbeitung, die auf einer vor dem Widerruf
          erfolgten Einwilligung beruht. 22 GD
          PR haben Sie das Recht, nicht
          einer Entscheidung unterworfen zu werden, die ausschließlich auf einer
          automatisierten Verarbeitung, einschließlich der Erstellung von
          Profilen, beruht, die rechtliche Folgen für Sie hat oder Sie in
          ähnlicher Weise erheblich beeinträchtigt. Recht auf Einreichung einer
          Beschwerde bei einer Aufsichtsbehörde Unbeschadet anderer
          administrativer oder gerichtlicher Rechtsbehelfe haben Sie das Recht,
          bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat, in dem
          Sie Ihren gewöhnlichen Aufenthalt, Ihren Arbeitsplatz oder den Ort der
          behaupteten Rechtsverletzung haben, eine Beschwerde einzureichen, wenn
          Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen
          Daten gegen das GDPR verstößt. Sie haben das Recht, sich bei Fragen
          oder Beschwerden an die Aufsichtsbehörde zu wenden. Die
          Aufsichtsbehörde von Albatros Coding ist die
          Datenschutzaufsichtsbehörde in Berlin ( Berliner Beautragte für
          Datenschutz und Informationsfreiheit') https://datenschutz-berlin.de/.
        </p>

        <h5>Transfer in Drittländer</h5>
        <p>
          Zurzeit verwenden wir keine Prozessoren, die
          Ihre Daten außerhalb der Europäischen Union verarbeiten.
          Möglicherweise setzen wir Prozessoren ein, die Ihre Daten in Ländern
          außerhalb der EU verarbeiten, die kein angemessenes, mit der EU
          vergleichbares Datenschutzniveau gewährleisten (keine
          Angemessenheitsentscheidung der EU-Kommission). Wenn wir dies tun,
          stellen wir sicher, dass der Auftragsverarbeiter in diesem Drittland
          ein Datenschutzniveau gewährleistet, das mit dem GDPR vergleichbar
          ist. Für den Fall, dass wir personenbezogene Daten außerhalb des
          territorialen Geltungsbereichs der GDPR übermitteln, stellen wir
          sicher, dass entweder eine Angemessenheitsentscheidung der
          Europäischen Kommission vorliegt oder durch die Verwendung der
          Standardvertragsklauseln der EU-Kommission ein mit der GDPR
          vergleichbares Datenschutzniveau gewährleistet ist (
          https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32010D0087&from=en
          )
        </p>

        <h5>Dritte</h5>
        <p>
          Um Ihnen effektive und kontinuierliche Produkte und
          Dienstleistungen anbieten zu können und zu den oben genannten Zwecken,
          können Ihre persönlichen Daten an folgende Parteien weitergegeben
          werden:Dienstleister, die der Albatros Coding UG operative
          Dienstleistungen wie Informationstechnologie und E-Mail-Dienste zur
          Verfügung stellen. ProtokolldatenWir möchten Sie darüber informieren,
          dass wir bei jedem Besuch unseres Dienstes Informationen sammeln, die
          Ihr Browser an uns sendet, so genannte Protokolldaten. Diese
          Protokolldaten können Informationen wie die Internet-Protokoll-Adresse
          ("IP-Adresse") Ihres Computers, die Browserversion, die von Ihnen
          besuchten Seiten unseres Dienstes, die Uhrzeit und das Datum Ihres
          Besuchs, die auf diesen Seiten verbrachte Zeit und andere statistische
          Daten enthalten.CookiesCookies sind Dateien mit kleinen Datenmengen,
          die häufig als anonyme, eindeutige Kennung verwendet werden. Diese
          werden von der Website, die Sie besuchen, an Ihren Browser gesendet
          und auf der Festplatte Ihres Computers gespeichert. Unsere Website
          verwendet diese "Cookies", um Informationen zu sammeln und unseren
          Service zu verbessern. Sie haben die Möglichkeit, diese Cookies zu
          akzeptieren oder abzulehnen, und wissen, wann ein Cookie an Ihren
          Computer gesendet wird. Wenn Sie sich entscheiden, unsere Cookies
          abzulehnen, kann es sein, dass Sie einige Teile unseres Dienstes nicht
          nutzen können.
        </p>

        <h5>Anbieter von Dienstleistungen</h5>
        <p>
          Wir können Drittfirmen und
          Einzelpersonen aus folgenden Gründen beschäftigen:Um unseren Dienst zu
          erleichtern;Um den Dienst in unserem Namen zu erbringen;Um
          dienstleistungsbezogene Dienstleistungen zu erbringen; oderUm uns bei
          der Analyse der Nutzung unseres Dienstes zu unterstützen. Wir möchten
          unsere Service-Benutzer darüber informieren, dass diese Drittparteien
          Zugang zu Ihren persönlichen Daten haben. Der Grund dafür ist, die
          ihnen zugewiesenen Aufgaben in unserem Namen auszuführen. Sie sind
          jedoch verpflichtet, die Informationen nicht offenzulegen oder für
          andere Zwecke zu verwenden.
        </p>

        <h5>Sicherheit</h5>
        <p>
          Wir wissen Ihr Vertrauen zu schätzen, dass Sie uns Ihre
          persönlichen Daten zur Verfügung stellen, und sind daher bestrebt,
          kommerziell akzeptable Mittel zum Schutz dieser Daten einzusetzen.
          Aber denken Sie daran, dass keine Methode der Übertragung über das
          Internet oder der elektronischen Speicherung 100% sicher und
          zuverlässig ist und wir keine absolute Sicherheit garantieren können.
          Wenn Sie auf einen Link eines Dritten klicken, werden Sie zu dieser
          Seite weitergeleitet. Beachten Sie, dass diese externen Sites nicht
          von uns betrieben werden. Daher raten wir Ihnen dringend, die
          Datenschutzrichtlinien dieser Websites zu überprüfen. Wir haben keine
          Kontrolle über und übernehmen keine Verantwortung für den Inhalt, die
          Datenschutzrichtlinien oder die Praktiken von Websites oder Diensten
          Dritter. Wir erfassen nicht wissentlich personenbezogene Daten von
          Kindern unter 13 Jahren. Sollten wir feststellen, dass ein Kind unter
          13 Jahren uns persönliche Daten zur Verfügung gestellt hat, löschen
          wir diese sofort von unseren Servern. Wenn Sie ein Elternteil oder ein
          Erziehungsberechtigter sind und Sie wissen, dass Ihr Kind uns
          personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie
          uns bitte, damit wir die notwendigen Schritte einleiten können.
        </p>

        <h5>Änderungen an dieser Datenschutzrichtlinie</h5>
        <p>
          Wir können unsere
          Datenschutzrichtlinie von Zeit zu Zeit aktualisieren. Wir empfehlen
          Ihnen daher, diese Seite regelmäßig auf Änderungen zu überprüfen. Wir
          werden Sie über alle Änderungen informieren, indem wir die neue
          Datenschutzrichtlinie auf dieser Seite veröffentlichen. Diese
          Änderungen treten sofort in Kraft, nachdem sie auf dieser Seite
          veröffentlicht wurden. Wir schätzen Ihr Recht auf Datenschutz und
          bitten Sie, uns bei weiteren Fragen zu kontaktieren:
          management@albatros-coding.de
        </p>
        <p>
          Vielen Dank.
        </p>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="container section fp-auto-height" >
    <div class="row align-items-end text-center" height="600px">
      <div class="col-4">
        <a class="footer-links" href="gdpr">Datenschutz</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="impressum">Impressum</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="jobs">Jobs</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script  type="text/javascript" src="/static/blobs_footer.js"></script>
<script  type="text/javascript" src="/static/js_plain.js"></script>
{% endblock %}
