{% extends "layout.html" %}

{%block css%}
{% endblock %}

{% block content %}

<div class="container morph-wrap">
  <div class="row">
    <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#B9B9B7" >
      <path d="M 390.10881,841.85581 C 409.50529,857.45343 413.94924,878.40046 408.17717,894.99445 402.4051,911.58844 386.41701,923.87474 374.57465,938.74556 362.73229,953.61639 355.03567,971.11708 339.56467,973.97279 324.01964,976.78316 300.62623,964.99387 264.27942,962.40792 227.9326,959.77664 178.63239,966.3487 157.60804,956.73581 136.50967,947.12292 138.51146,935.69458 157.60804,918.46642 176.70462,901.23826 188.91725,852.38725 214.01016,837.42633 239.17709,822.46541 236.93473,760.16634 263.80534,754.68144 290.67596,749.19654 370.63831,826.30352 390.10881,841.85581 Z"/>
    </svg>
  </div>
</div>


<div class="container morph-wrap">
  <div class="row">
    <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#7BF9E5">
      <path d="M 1005.4298,2.2026134 C 1061.1435,3.9022408 1167.7434,30.225035 1197.5156,46.373445 1227.4405,62.586715 1184.7394,99.488415 1147.486,117.84182 1110.0799,136.19524 1056.1401,160.19933 997.99539,160.19933 939.8507,160.19933 894.90766,187.67999 866.50954,176.91438 838.11141,166.21363 935.37951,105.97638 909.81792,68.033405 884.25634,30.090425 813.52849,87.505686 778.56696,54.666375 757.30247,34.692674 767.83029,23.28843 795.94296,3.6901944 801.22523,1.1428774 901.3507,0.58758682 934.89261,2.6506114 963.87329,1.8251775 947.62306,0.43913554 1005.4298,2.2026134 Z"/>
    </svg>
  </div>
</div>

<div class="container morph-wrap">
  <div class="row">
    <svg id="morph3" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#DEDEDE">
      <path
          d="M 903.44519,0.72975437 C 942.53436,1.520594 923.06779,-0.05491156 968.72752,1.9584233 1013.3165,6.7362533 1001.5979,98.9925 970.87769,120.8909 940.15739,142.85567 946.99929,167.71289 903.75236,177.60035 860.50546,187.55417 799.51236,180.12198 770.73086,159.94891 741.80016,139.77583 745.08096,106.92822 729.27346,87.61781 713.46596,68.3074 718.39046,70.18447 664.55224,52.31493 610.714,34.44538 539.27396,45.566 543.59865,25.99015 547.77422,6.3479503 617.33804,0.68402357 644.03181,0.88091357 670.72559,1.1485336 765.16481,0.67953198 807.94474,1.2472942 857.78951,1.4415154 864.97039,3.3841043 903.44519,0.72975437 Z"/>
    </svg>
  </div>
</div>


<div class="container morph-wrap">
  <div class="row">
    <svg id="morph4" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fcd2f9">
      <path
          d="M 1404.9198,2.078626 1437.6917,2.3826163 C 1424.6573,27.213976 1432.3056,59.356116 1371.2869,101.01587 1310.4967,142.67559 1226.2375,178.8908 1141.7114,173.42639 1090.8594,170.20862 1037.8055,193.45185 988.34438,194.48152 955.36888,195.168 950.86672,173.42639 914.401,173.42639 860.27529,173.42639 942.78176,96.040256 956.58757,34.172506 966.42433,-9.9088042 961.40466,2.3347029 980.16089,1.8401645 1033.195,1.2746491 1050.4908,3.1581335 1118.4394,2.947426 1219.4023,2.6353785 1219.4299,2.3868665 1264.9881,1.6442259 1303.3675,4.2754659 1364.7152,0.41914909 1404.9198,2.078626 Z"/>
    </svg>
  </div>
</div>

<div class="container morph-wrap">
  <div class="row">
    <svg id="morph5" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#A28DFC">
      <path
          d="M 865.71122,916.09813 C 907.61092,931.51651 947.07492,940.87345 954.37242,951.57475 961.66972,962.20122 936.80072,974.24686 919.22342,992.57883 901.94952,1010.9109 900.65542,1015.9505 814.45562,1016.3255 693.80732,1027.4207 585.25532,1023.1311 472.96448,1019.0813 360.37035,1015.1062 360.45669,1013.1575 214.17382,1017.1104 123.15334,1019.57 25.4532,962.94896 84.60294,941.92646 143.75259,920.82912 352.83915,915.45819 486.35278,904.09476 619.86642,892.65651 677.50362,875.30056 728.79332,877.3251 779.77952,879.27479 823.81152,900.75458 865.71122,916.09813 Z"/>
    </svg>
  </div>
</div>

<div class="container morph-wrap">
  <svg id="morph6" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#FDF49A">
    <path
        d="M 264.78451,511.07634 C 319.17012,546.50232 348.21769,647.50243 335.42025,731.64139 322.75077,815.78036 268.23628,883.05817 231.5091,960.38466 194.78191,1037.7112 169.96785,1020.8314 136.32779,1019.5334 82.144052,1019.1447 42.08828,1032.1349 36.84766,1001.0632 9.0046396,975.52039 5.86207,973.74497 5.35891,923.84278 16.40014,875.78361 1.19315,836.87807 1.69394,779.94682 2.17485,725.27577 25.48925,720.35454 2.85229,649.59955 0.48838001,568.23056 2.06814,554.6828 66.30773,530.1555 130.67529,505.62819 210.39892,475.48004 264.78451,511.07634 Z"/>
  </svg>
</div>


<div id="fullpage">
  <div class="container section">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-6 text-left">
        <span class="front-slogan">künstliche Intelligenz für den Menschen</span>
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <p>An der Schnittstelle zwischen Industrie und Forschung entwickeln wir
          anwendungsorientierte, intelligente und nachhaltige Lösungen
          für verschiedene Fragestellungen aus den Bereichen Datenverarbeitung,
          mathematischer Programmierung, künstliche Intelligenz,
          Machine Learning und Robotik.
          Der starke und zielorientierte Fokus auf kreative Lösungen,
          treibt unser eingeschworenes und agiles Team an.
          Dabei erschaffen wir aus Leidenschaft eine Synthese aus neusten
          Erkenntnissen der Forschung und den aktuellen Möglichkeiten der Praxis.
          Somit entstehen von Grund auf innovativ angesetzte Produkte und Dienstleistungen,
          welche durch ihre Relevanz auch in Zukunft von hohem Nutzen sein werden.
        </p>
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-left">
      <div class="col-7">
        <span class="overview-slogan">vom Erstgespräch<br>bis zur Anwendung</span>
      </div>
    </div>
    <div class="row justify-content-center text-center pt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_beratung.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Beratung und Analyse</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Analyse der Daten und des Anwendungsfeldes mit Beratung zu potentiellen Usecases.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_forschung.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Forschung und Entwicklung</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Erforschung von neuen Methoden
            oder eine Implementierung und Anpassung von Bewährtem.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_deployment.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Deployment und Anwendung</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Anbindung von Tools an Bestehende Systeme
            oder eine Entwicklung eines Userinterfaces.
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 justify-content-right text-right">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Zu unseren Leistungen</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>



  <div class="container section">
    <div class="row justify-content-end">
      <div class="col-12 text-center">
        <div class="components-slogan">für jeden Job das richtige Werkzeug</div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4 order-md-0 components-block">
        <img src="static/imgs/icon_anomalie.svg" width="100" height="100">
        <div class="components-header pt-3">Anomalie Erkennung</div>
      </div>
      <div class="col-xs-12 col-md-4 order-first order-md-1 components-block">
        <span class="components-text">
          In der Praxis setzt sich ein Usecase meist aus mehreren Komponenten und Anfoderungen zusammen.
          Wir helfen bei jedem Schritt: von der Planung, über die Datensatzerstellung bis zu Umsetzung.
        </span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 order-md-2 components-block">
        <img src="static/imgs/icon_klassifizierung.svg" width="100" height="100">
        <div class="components-header pt-3">Klassifizierung und Erkennung</div>
      </div>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <div class="col">
          <img src="static/imgs/icon_vorhersagen.svg" width="100" height="100">
          <div class="components-header pt-3">Vorhersagen und Risikoabschätzungen</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <img src="static/imgs/icon_interface.svg" width="100" height="100">
        <div class="components-header pt-3">Userinterfaces und App-entwicklung</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <img src="static/imgs/icon_datensatz.svg" width="100" height="100">
        <div class="components-header pt-3">Datensatzerstellung</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Zu unseren Leistungen<span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </a>
      </div>
    </div>
  </div>


  <div class="container section pt-md-5">
    <div class="row justify-content-around pt-md-5">
      <div class="col-xs-12 col-lg-6 pr-md-5">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Jan Milde</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Simon Untergasser</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Kuan Yu</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
        </div>

        <div class="row pt-xs-3 pt-lg-5 pl-md-3">
          <div class="col-12 text-sm-center text-lg-left">
            <span class="about-slogan">die menschliche Komponente</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-10 col-lg-5 col-lg-4 align-self-lg-end about-text text-center pt-2">
        Die Mitglieder von Albatros Coding haben einen diversen Hintergrund, von Neuropsychologie,
        Physik, Mathematik über Computational Linguistik bis zu Robotik. Die Gründer lernten sich im
        Masterstudiengang zur künstlichen Intelligenz an der Universität Potsdam kennen.
        Arbeitserfahrungen in der Forschung ließen den Wunsch aufkommen, das akademische
        Wissen und die erlangten Erkenntnisse für alle nutzbar zu machen.
        Durch das beständige Interesse auf dem neusten Stand der Technik zu bleiben, sind
        auch heute noch manche Mitglieder aktiv in Forschung und Lehre involviert.
        Dieser Austausch gibt uns Zugang zu einem breiten Wissensnetzwerk und erlaubt es uns mit den
        rasanten Entwicklungen im Bereich der künstlichen Intelligenz Schritt zu halten.
      </div>
    </div>

    <div class="row pt-md-5">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Erfahre mehr über uns</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row justify-content-around pl-5">
      <div class="col-sm-12 col-lg-6">

        <div class="row pb-3">
          <div class="col contact-slogan">
            Hello, World!
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="row">
              <span>Schreib uns eine E-Mail:</span>
            </div>
            <div class="row">
              <a href="mailto:info@albatros-coding.de" class="info-button"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >info@albatros-coding.de</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              Ruf uns an oder schreib uns in Whatsapp/Telegram:
            </div>
            <!--  &nbsp;
                 <a class="social-icons" href="https://wa.me/4917638601936" target="_blank" rel="noopener noreferrer">
                 <img src="/static/imgs/whatsapp.png" width="24px">
                 </a>
                 &nbsp;&nbsp;
                 <a class="social-icons" href="https://telegram.me/Jan_Milde" target="_blank" rel="noopener noreferrer">
                 <img src="/static/imgs/telegram.png" width="24px">
                 </a>
            -->
            <div class="row">
              <a href="tel:+4917638601936" class="info-button" target="_blank" rel="noopener noreferrer"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >0176-38601936</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              Oder komm doch einfach vorbei:
            </div>
            <div class="row">
              <a href="https://www.openstreetmap.org/node/2878368272" class="info-button"
                 target="_blank" rel="noopener noreferrer"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >Torfstraße 18, 13353 Berlin</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 align-self-center text-sm-center text-md-right">
        <img src="" width="400", height="200">
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="container section fp-auto-height" >
    <div class="row align-items-end text-center" height="600px">
      <div class="col-4">
        <a class="footer-links" href="gdpr">Datenschutz</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="impressum">Impressum</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="jobs">Jobs</a>
      </div>
    </div>
  </div>

  {% endblock %}


  {% block scripts %}
  <script  type="text/javascript" src="/static/js.js"></script>
  {% endblock %}
