{% extends "layout.html" %}

{%block css%}
{% endblock %}

{% block content %}

<div class="container morph-wrap">
  <div class="row justify-content-center">
    <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#B9B9B7" >
      <path d="M247.58321,87.4530768 C266.979689,103.050704 271.423638,123.997732 265.651568,140.591723 C259.879498,157.185714 243.891414,169.472008 232.049055,184.342833 C220.206696,199.213658 212.510068,216.714353 197.039072,219.570061 C181.494046,222.380425 158.100631,210.591138 121.75382,208.005193 C85.4070037,205.373909 36.1067916,211.945967 15.0824436,202.333078 C-6.01592988,192.720185 -4.01414006,181.291847 15.0824436,164.063688 C34.1790273,146.835529 46.3916522,97.9845218 71.484562,83.0235995 C96.6514973,68.0626805 94.4091299,5.76360433 121.279746,0.278708343 C148.150363,-5.20618764 228.11271,71.9007856 247.58321,87.4530768 Z"/>
    </svg>
  </div>
</div>


<div class="container morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#7BF9E5">
    <path d="M250.222193,110.487325 C303.902118,125.5 407.757396,128.518552 437.529622,144.666962 C467.454525,160.880226 424.753451,197.781927 387.5,216.135342 C350.09387,234.488756 296.154122,258.492846 238.009415,258.492846 C179.864707,258.492846 134.921667,285.973511 106.523545,275.207904 C78.1254217,264.507149 175.393522,204.269903 149.831934,166.326923 C124.270346,128.383944 34.4194493,198.235404 18.5809706,152.959894 C2.742492,107.684383 -13.7867823,78.5318759 18.5809706,56.8061022 C50.7960455,35.1451816 152.876313,-4.28890985 185.549422,0.38051017 C218.222531,4.98507713 196.542267,95.4746496 250.222193,110.487325 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph3" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#DEDEDE">
    <path
        d="M 362.51307,45.399095 C 400.98789,42.811102 384.90016,40.621261 429.63834,45.399095 474.22738,50.176929 460.35855,147.65502 429.63834,169.55342 398.91812,191.51819 405.75997,216.37541 362.51307,226.26287 319.26616,236.21669 258.27312,228.7845 229.49156,208.61143 200.56088,188.43835 203.84167,155.59074 188.03419,136.28033 172.2267,116.96992 177.15121,118.84699 123.31296,100.97745 69.474716,83.107899 -1.9653182,94.228519 2.3593719,74.652672 6.5349349,55.010466 88.165594,1.1063055 114.85937,1.3032002 141.55315,1.5708171 248.80605,15.553661 276.84198,31.479774 304.8779,47.339529 324.03824,48.053447 362.51307,45.399095 Z"/>
  </svg>
</div>


<div class="container morph-wrap">
  <svg id="morph4" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fcd2f9">
    <path
        d="M 527.87457,12.150106 C 559.39116,33.024531 581.29413,47.135512 568.03127,71.966899 554.99687,96.798263 547.44113,130.2436 486.42249,171.90335 425.6323,213.56307 341.37314,249.77828 256.84697,244.31387 205.99504,241.0961 152.94114,264.33933 103.48,265.369 70.504495,266.05548 66.002336,244.31387 29.536622,244.31387 -24.589089,244.31387 57.982339,166.9422 71.723191,105.05999 81.125548,62.716282 -12.294527,32.171382 5.8101027,20.599645 50.373366,-7.9846794 126.09604,27.564809 226.62457,12.150106 327.15315,-3.3659441 386.25909,9.4175394 424.86687,12.150106 463.24625,14.781348 496.35793,-8.6229724 527.87457,12.150106 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph5" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#A28DFC">
    <path
        d="M 1090.5337,912.43946 C 1132.4334,927.85784 1171.8974,937.21478 1179.1949,947.91608 1186.4922,958.54255 1161.6232,970.58819 1144.0459,988.92016 1126.772,1007.2522 1125.4779,1012.2918 1039.2781,1012.6668 918.62975,1023.762 810.07775,1019.4724 697.78697,1015.4226 585.19285,1011.4475 585.27919,1009.4988 438.99632,1013.4517 347.97584,1015.9113 250.2757,959.29029 309.42544,938.26779 368.57509,917.17045 577.66165,911.79952 711.17527,900.43609 844.68885,888.99784 902.32605,871.64189 953.61575,873.66643 1004.602,875.61612 1048.634,897.09591 1090.5337,912.43946 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph6" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#FDF49A">
    <path
        d="M 508.53902,665.7544 C 562.92463,701.18038 591.9722,802.18049 579.17476,886.31945 566.50528,970.45842 547.45259,1001.835 462.23161,1009.9379 410.80725,1014.8273 441.89991,1013.2154 381.26731,1017.6091 290.81007,1019.3988 369.74905,1021.7846 250.32515,1020.2776 197.92683,1019.6394 198.24886,1021.1901 112.0476,1022.3725 56.126371,989.67172 2.1720004,960.0778 2.1720004,902.67949 2.1720004,845.28119 75.114069,796.39779 136.0266,762.50287 196.93914,728.43763 245.82265,709.36085 310.06224,684.83355 374.4298,660.30625 454.15343,630.1581 508.53902,665.7544 Z"/>
  </svg>
</div>

<div id="fullpage">
  <div class="container section">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-6 text-left">
        <span class="front-slogan">künstliche Intelligenz für den Menschen</span>
      </div>
      <div class="col-xs-12 col-md-6 text-left">
        <p>An der Schnittstelle zwischen Industrie und Forschung entwickeln wir
          anwendungsorientierte, intelligente und nachhaltige Lösungen
          für verschiedene Fragestellungen aus den Bereichen Datenverarbeitung,
          mathematischer Programmierung, künstliche Intelligenz,
          Machine Learning und Robotik.
          Der starke und zielorientierte Fokus auf kreative Lösungen,
          treibt unser eingeschworenes und agiles Team an.
          Dabei erschaffen wir aus Leidenschaft eine Synthese aus neusten
          Erkenntnissen der Forschung und den aktuellen Möglichkeiten der Praxis.
          Somit entstehen von Grund auf innovativ angesetzte Produkte und Dienstleistungen,
          welche durch ihre Relevanz auch in Zukunft von hohem Nutzen sein werden.
        </p>
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-left">
      <div class="col-7">
        <span class="overview-slogan">vom Erstgespräch<br>bis zur Anwendung</span>
      </div>
    </div>
    <div class="row justify-content-center text-center pt-5">
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_beratung.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Beratung und Analyse</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Analyse der Daten und des Anwendungsfeldes mit Beratung zu potentiellen Usecases.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_forschung.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Forschung und Entwicklung</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Erforschung von neuen Methoden
            oder eine Implementierung und Anpassung von Bewährtem.
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 anwendung-group">
        <div class="row justify-content-center text-center">
          <img src="static/imgs/icon_deployment.svg" width="100" height="100">
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-header pb-2 pt-3">Deployment und Anwendung</div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="anwendung-text justify-content-center ">
            Anbindung von Tools an Bestehende Systeme
            oder eine Entwicklung eines Userinterfaces.
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 justify-content-right text-right">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Zu unseren Leistungen</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>



  <div class="container section">
    <div class="row justify-content-end">
      <div class="col-12 text-center">
        <div class="components-slogan">für jeden Job das richtige Werkzeug</div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4 order-md-0 components-block">
        <img src="static/imgs/icon_anomalie.svg" width="100" height="100">
        <div class="components-header pt-3">Anomalie Erkennung</div>
      </div>
      <div class="col-xs-12 col-md-4 order-first order-md-1 components-block">
        <span class="components-text">
          In der Praxis setzt sich ein Usecase meist aus mehreren Komponenten und Anfoderungen zusammen.
          Wir helfen bei jedem Schritt: von der Planung, über die Datensatzerstellung bis zu Umsetzung.
        </span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 order-md-2 components-block">
        <img src="static/imgs/icon_klassifizierung.svg" width="100" height="100">
        <div class="components-header pt-3">Klassifizierung und Erkennung</div>
      </div>
    </div>

    <div class="row text-center justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <div class="col">
          <img src="static/imgs/icon_vorhersagen.svg" width="100" height="100">
          <div class="components-header pt-3">Vorhersagen und Risikoabschätzungen</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <img src="static/imgs/icon_interface.svg" width="100" height="100">
        <div class="components-header pt-3">Userinterfaces und App-entwicklung</div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 components-block">
        <img src="static/imgs/icon_datensatz.svg" width="100" height="100">
        <div class="components-header pt-3">Datensatzerstellung</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Zu unseren Leistungen<span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </a>
      </div>
    </div>
  </div>


  <div class="container section pt-md-5">
    <div class="row justify-content-around pt-md-5">
      <div class="col-xs-12 col-lg-6 pr-md-5">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Jan Milde</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Simon Untergasser</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="row justify-content-center">
              <img src="static/imgs/portrait.png" width="120">
            </div>
            <div class="row justify-content-center">
              <span class="about-header pt-md-3 pb-md-2">Kuan Yu</span>
            </div>
            <div class="row justify-content-center">
              <span>CEO/Gründer</span>
            </div>
          </div>
        </div>

        <div class="row pt-xs-3 pt-lg-5 pl-md-3">
          <div class="col-12 text-sm-center text-lg-left">
            <span class="about-slogan">die menschliche Komponente</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-10 col-lg-5 col-lg-4 align-self-lg-end about-text text-center pt-2">
        Die Mitglieder von Albatros Coding haben einen diversen Hintergrund, von Neuropsychologie,
        Physik, Mathematik über Computational Linguistik bis zu Robotik. Die Gründer lernten sich im
        Masterstudiengang zur künstlichen Intelligenz an der Universität Potsdam kennen.
        Arbeitserfahrungen in der Forschung ließen den Wunsch aufkommen, das akademische
        Wissen und die erlangten Erkenntnisse für alle nutzbar zu machen.
        Durch das beständige Interesse auf dem neusten Stand der Technik zu bleiben, sind
        auch heute noch manche Mitglieder aktiv in Forschung und Lehre involviert.
        Dieser Austausch gibt uns Zugang zu einem breiten Wissensnetzwerk und erlaubt es uns mit den
        rasanten Entwicklungen im Bereich der künstlichen Intelligenz Schritt zu halten.
      </div>
    </div>

    <div class="row pt-md-5">
      <div class="col">
        <a href="{{url_for('services')}}" class="info-button" style="text-decoration: none;  color: inherit;">
          <span>Erfahre mehr über uns</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row justify-content-around pl-5">
      <div class="col-sm-12 col-lg-6">

        <div class="row pb-3">
          <div class="col contact-slogan">
            Hello, World!
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="row">
              <span>Schreib uns eine E-Mail:</span>
            </div>
            <div class="row">
              <a href="mailto:info@albatros-coding.de" class="info-button"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >info@albatros-coding.de</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              Ruf uns an oder schreib uns in Whatsapp/Telegram:
            </div>
            <!--  &nbsp;
                 <a class="social-icons" href="https://wa.me/4917638601936" target="_blank" rel="noopener noreferrer">
                 <img src="/static/imgs/whatsapp.png" width="24px">
                 </a>
                 &nbsp;&nbsp;
                 <a class="social-icons" href="https://telegram.me/Jan_Milde" target="_blank" rel="noopener noreferrer">
                 <img src="/static/imgs/telegram.png" width="24px">
                 </a>
            -->
            <div class="row">
              <a href="tel:+4917638601936" class="info-button" target="_blank" rel="noopener noreferrer"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >0176-38601936</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              Oder komm doch einfach vorbei:
            </div>
            <div class="row">
              <a href="https://www.openstreetmap.org/node/2878368272" class="info-button"
                 target="_blank" rel="noopener noreferrer"
                 style="text-decoration: none;  color: inherit; float:left;">
                <span >Torfstraße 18, 13353 Berlin</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 align-self-center text-sm-center text-md-right">
        <img src="" width="400", height="200">
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="container section fp-auto-height" >
    <div class="row align-items-end text-center" height="600px">
      <div class="col-4">
        <a class="footer-links" href="gdpr">Datenschutz</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="impressum">Impressum</a>
      </div>

      <div class="col-4">
        <a class="footer-links" href="jobs">Jobs</a>
      </div>
    </div>
  </div>

  {% endblock %}


  {% block scripts %}
  <script  type="text/javascript" src="/static/js.js"></script>
  {% endblock %}
