{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container">

    <div class="morph-wrap">
      <svg id="morph2" width="1400" height="770" viewBox="0 0 1400 770" style="fill:#FDEF59">
        <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z"/>
      </svg>
    </div>

    <div class="morph-wrap">
      <svg id="morph1" width="1400" height="770" viewBox="0 0 1400 770" style="fill:#29F6D3" >
        <path d='M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z'/>
      </svg>
    </div>




    <div class="container morph-marker">
      <div class="row justify-content-center pt-5">
        <div class="col-xs-12 col-sm-8 text-center">
          <h1>Vision</h1>
          Agiles und unabhängiges Arbeiten und die Freiheit bei der Projektauswahl definieren unsere
          Arbeitskultur. Dabei gehen wir bei der Akquisition für interessante Projekten neue ökonomische Wege,
          welche das Wohl und den Nutzen für unsere Gesellschaft an erste Stelle setzt. Wir lösen uns von den
          starren Abhängigkeiten und festgefahrenen Traditionen um intelligente, nachhaltige, forschungsnahe
          Lösungen für verschiedene Fragestellungen aus den Bereichen Datenverarbeitung, künstliche
          Intelligenz, Maschine Learning und Robotik anzubieten.
        </div>
      </div>
  </div>



  <div class="container morph-marker">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <h3>Dienstleistungen</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center mb-5">
        <div class="col-6 text-center ">
          Analyse für Business usecases
        </div>
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
        <div class="col-6 text-center">
          Erforschung von Anwendungsmöglichkeiten
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
          Anbindung von tools oder features an Bestehende Systeme
        </div>
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
      </div>
    </div>
  </div>


  <div class="container morph-marker">
    <div class="row justify-content-center my-5">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2>Vorgehensweise</h2>
        Agiles und unabhängiges Arbeiten und die Freiheit bei der Projektauswahl definieren unsere
        Arbeitskultur. Dabei gehen wir bei der Akquisition für interessante Projekten neue ökonomische Wege,
        welche das Wohl und den Nutzen für unsere Gesellschaft an erste Stelle setzt. Wir lösen uns von den
        starren Abhängigkeiten und festgefahrenen Traditionen um intelligente, nachhaltige, forschungsnahe
        Lösungen für verschiedene Fragestellungen aus den Bereichen Datenverarbeitung, künstliche
        Intelligenz, Maschine Learning und Robotik anzubieten.
      </div>
    </div>
  </div>


  <div class="container morph-marker">
    <div class="row justify-content-center my-5">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2>Über uns</h2>
        Der starke und zielorientierte Fokus auf kreative Lösungen, treibt unser eingeschworenes und agiles
        Team an. Dabei erschaffen wir aus Leidenschaft eine Synthese aus neusten Erkenntnissen der
        Forschung und den aktuellen Möglichkeiten der Praxis. Somit entstehen von Grund auf innovativ
        angesetzte Produkte und Dienstleistungen, welche durch ihre Einfachheit und Relevanz auch in Zukunft
        von hohem Nutzen sein werden.
      </div>
    </div>
  </div>

  <div class="container morph-marker">
    <div class="row text-center ">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Kuan Yu</h3>
        <p>Realistic and use-case oriented</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Simon Untergasser</h3>
        <p>Finding unique solutions for new fields of application</p>
      </div>

      <div class="col-sm-12 col-md-4">
        <img src="static/imgs/portrait.png" width="200">
        <h3>Jan Milde</h3>
        <p>Implementing and deploying existing state-of-the-art solutions</p>
      </div>
    </div>
  </div>



  <div class="container last-morph">
    <div class="row justify-content-center my-5">
      <div class="col-6 text-center">
        <h2>Kontakt</h2>
        Telefon <br>
        Email <br>
        Torfstraße 18 <br>
        12345 Berlin
      </div>
      <div class="col-6">
        <img src="" width="400" height="200">
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}


{% block scripts %}
<script src="/static/imagesloaded.pkgd.min.js"></script>
<script src="/static/anime.min.js"></script>
<script src="/static/scrollMonitor.js"></script>
<script src="/static/js.js"></script>
{% endblock %}
