<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <!-- our static CSS file -->
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
    <!-- for pagescroll -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery.fullPage.css')}}">
    {% block css %}{% endblock %}
    <title> {{title}} </title>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid navbar-inner">
        <a class="navbar-brand pt-3 pl-3" href="home"> <img id="logo" src="static/imgs/bigLogo_Albatros_black.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link " href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services">Leistungen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_us">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- feeding in the block "content", which will be individual for each site -->
    {% block content %}{% endblock%}


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
    <script  type="text/javascript" src="/static/imagesloaded.pkgd.min.js"></script>
    <script  type="text/javascript" src="/static/anime.min.js"></script>
    <script  type="text/javascript" src="/static/jquery.fullPage.js"></script>
    <script  type="text/javascript" src="/static/scrolloverflow.min.js"></script>
    {% block scripts %} {% endblock %}
  </body>

</html>
