{% extends "layout.html" %}

{% block content %}



<div class="morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#FDEF59">
    <path d="M190.882318,422.991582 C291.540494,373.409903 334.32884,348.516665 409.756717,311.643319 C485.184595,274.769974 547.619128,225.338087 665.102251,319.059696 C782.585373,412.781305 890.419268,464.832506 951.200371,484.180475 C1011.98147,503.528444 1155.27001,567.809044 1134.89949,394.603386 C1114.52897,221.397728 1084.22053,36.0591414 1059.78997,1.43587113 C1057.18246,-2.25952259 965.990181,-119.066861 847.448106,-115.938264 C693.678755,-111.879939 284.285495,-111.879939 -8.93242202,-28.340559 C-158.81077,14.3605981 -188.319274,123.266041 -201.017035,195.105912 C-227.608602,345.552491 -69.2882898,467.279781 -8.93242202,467.279781 C51.4234458,467.279781 90.2241416,472.573261 190.882318,422.991582 Z"\>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#29F6D3" >
    <path d='M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z'/>
  </svg>
</div>

<div class="morph-wrap">
  <svg id="morph3" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#6644FD">
    <path
        d="m543.08 289.17c0 55.9-44 108.5-90.3 108.5-46.4 0-95-52.6-95-108.5 0-55.8 48.6-114.8 95-114.8 46.3 0 90.3 59 90.3 114.8z"/>
  </svg>
</div>


<div id="fullpage">

  <div class="container section">
    <div class="row justify-content-center my-5">
      <div class="col-xs-12 col-sm-8 text-center">
        <h1>Mission</h1>
        Die heutigen technischen Möglichkeiten werden in den meisten Firmen nicht völlig ausgeschöpft,
        bieten jedoch bei einem sinnvollen Einsatz einen hohen Mehrwert.
        Egal ob Firmenprozesse optimiert oder neue Geeschäftsfelder erschlossen werden sollen,
        in vielen Fällen können durch kreative Programmierung und den Einsatz von
        künstlicher Intelligenz neue Wege gegangen werden.
        Hierbei gehen wir unvoreingenommen und pragmatisch vor,
        für jede Anwendung gibt es da richtige Werkzeug.
        Die beste Lösung ist so einfach wie möglich und so komplex wie nötig.
        Unsere Arbeit heißt für uns konkret, den technischen Fortschritt aktiv mitzugestalten.
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-center my-5">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2>AI Technologie</h2>
        Künstliche Intelligenz ist ein großes Feld, dessen Grenzen nicht klar definiert sind.
        Doch die neusten Erungenschaften und großen Fortschritte in dem Feld sind auf Basis von
        Algorithmen des Maschinellen Lernen.
        Beim Maschinellen Lernen werden Algorithmen mit oft große Datenmengen gefüttert,
        um aus diesen Informationen zu extrahieren und die Bewältigung von verschiedensten
        Aufgaben zu lernen.
        In diesem Feld haben in den letzten Jahren insbesondere Neuronale Netze bahnbrechende Erfolge
        erzielen können.
        Wir sind auf die Anwendung von tiefen Neuronalen Netzen spezialisiert, aber gleichzeitig
        auch mit diversen anderen Methoden gut vertraut, um für jede Anforderung eine realistische
        und passende Lösung finden zu können.
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="container  section">
      <div class="row justify-content-center">
        <div class="row justify-content-center mb-2">
          <div class="col-6 text-center ">
            <h5>Beratung und Analyse</h5>
            Bei einem unverbindlichen Erstgespräch können wir sicherstellen,
            dass eine Anwendung unserer Methoden möglich und rentabel ist.
            Wir bieten auch tiefgreifende Datenanalysen und weiterführende Beratung an,
            um umsetzbare Usecases zu identifizieren.
          </div>
          <div class="col-6 text-center">
            <img src="" width="400" height="200">
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-6 text-center">
            <img src="" width="400" height="200">
          </div>
          <div class="col-6 text-center">
            <h5>Forschung und Entwicklung</h5>
            Bei klar definierten Aufgabe für welche etablierte state-of-the-art Methoden
            vorhanden sind, können wir diese implementieren, anpassen und optimieren.
            Hierbei beziehen wir Expertenwissen aus dem jeweiligen Anwendungsfeld ein.
            Wenn Neuland betreten werden soll und neue high-impact Tools entwickelt werden sollen,
            bieten wir experimentelle Forschung an mit dem Ziel eines Proof-of-Concepts.
            Neuartige Methoden können dann von uns weiterentwickelt und für die Anwendung skaliert werden.
          </div>
        </div>
        <div class="row justify-content-center my-2">
          <div class="col-6 text-center">
            <h5>Deployment</h5>
            Egal ob eine Anbindung via API  oder eine Bereitstellung als
            Dockerimage für ein Kubernetes Cluster,
            wir stellen sicher, dass unsere Entwicklungen sich
            in das bestehende System integrieren lassen.
            Falls ein eigenständiges System gewünscht ist,
            bieten wir auch die Entwicklung von kompletten Anwendungen mit Userinterface an.
          </div>
          <div class="col-6 text-center">
            <img src="" width="400" height="200">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <h2> Dienstleistungen </h2>
    <div class="row text-center  mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Text- und Sprachverarbeitung</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Vorhersagen und Risikoabschätzungen</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <img src="" width="130" height="130">
        <p>Klassifizierung</p>
      </div>
    </div>

    <div class="row text-center  mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Objekt/Bild Erkennung</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Beratung und Workshops</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <img src="" width="130" height="130">
        <p>Datenanalysen<p>
      </div>
    </div>

    <div class="row text-center  mt-5">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Anomalie Erkennung</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="" width="130" height="130">
        <p>Datensatzerstellung</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <img src="" width="130" height="130">
        <p>Userinterfaces und Software-Entwicklung</p>
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-center my-5">
      <div class="col-6">
        <img src="" width="400" height="200">
        <p>Iterativer loop,
          Consult -> Design -> Develop -> Test -> Deploy -> Review (-> Improve) -> </p>
      </div>
      <div class="col-6 text-center">
        <h2>Vorgehensweise</h2>
        Ein strukturiertes Vorgehen mit klaren Prozessschritten und Zwischenzielen macht unsere Arbeit transparent.
        In vielen Fällen arbeiten wir iterativ mit Kundenfeedback,
        um bestmögliche Ergebnisse sicherzustellen.
        Während des Prozesses können wir weitgehend unabhängiges Arbeiten,
        oder aber auch eng verwoben mit dem firmeeigenen Entwicklerteam.
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-6 text-center">
        <h1>Hast du Fragen?</h1>
      </div>
      <div class="col-6">
        <a href="" class="info-button"
           style="text-decoration: none;  color: inherit; float:left;">
          <span style="font-size:20px;">info@albatros-coding.de</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
        <a href="" class="info-button"
           style="text-decoration: none;  color: inherit; float:left;">
          <span style="font-size:20px;">+12345678</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>

    <footer>
      <hr style="height:2px;border:none;color:#D6D6D6;background-color:#D6D6D6;" />
      <div class="row align-items-end text-center">
        <div class="col-4">
          <a href="gdpr">Datenschutz</a>
        </div>

        <div class="col-4">
          <a href="impressum">Impressum</a>
        </div>

        <div class="col-4">
          <a href="jobs">Jobs</a>
        </div>
      </div>
    </footer>
  </div>

</div>
</div>
{% endblock %}


{% block scripts %}
<script src="/static/imagesloaded.pkgd.min.js"></script>
<script src="/static/anime.min.js"></script>
<script src="/static/jquery.fullPage.js"></script>
<script src="/static/js.js"></script>
{% endblock %}
