{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-8 text-center">
      <h1>Mission</h1>
      Die heutigen technischen Möglichkeiten werden nicht völlig ausgeschöpft, bieten unserer Gesellschaft
      jedoch bei einem sinnvollen Einsatz einen hohen Mehrwert. Für uns heißt das konkret, den technischen
      Fortschritt in eine soziale Anwendung umzusetzen und somit aktiv mitzugestalten. Freiheit,
      Unabhängigkeit und Selbstverwirklichung bilden bei der Verwirklichung unsere oberste Maxime.
    </div>
  </div>

  <br><br><br><br><br><br>https://tympanus.net/codrops/?p=31190


  <div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-8 text-center">
      <h2>AI Technologie</h2>
      Artificial Intelligenz oder auch künstliche Intelligenz ist balh balh blah
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="row justify-content-center my-5">
    <div class="col-6">
      <img src="" width="400" height="200">
    </div>
    <div class="col-6 text-center">
      <h2>Vorgehensweise</h2>
      Iterativer loop,
      Consult -> Design -> Develop -> Test -> Deploy -> Review (-> Improve) ->
    </div>
  </div>

  <br><br><br><br><br><br>

  <div class="row justify-content-center my-5">
    <div class="col-6 text-center">
      <h1>Service<br>anfragen</h1>
    </div>
    <div class="col-6 text-center">
      Telefonnummer
      email
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-center my-5">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2>Vorgehensweise</h2>
        Agiles und unabhängiges Arbeiten und die Freiheit bei der Projektauswahl definieren unsere
        Arbeitskultur. Dabei gehen wir bei der Akquisition für interessante Projekten neue ökonomische Wege,
        welche das Wohl und den Nutzen für unsere Gesellschaft an erste Stelle setzt. Wir lösen uns von den
        starren Abhängigkeiten und festgefahrenen Traditionen um intelligente, nachhaltige, forschungsnahe
        Lösungen für verschiedene Fragestellungen aus den Bereichen Datenverarbeitung, künstliche
        Intelligenz, Maschine Learning und Robotik anzubieten.
      </div>
    </div>
  </div>

  <div class="container  section">
    <div class="row justify-content-center">
      <div class="row justify-content-center mb-5">
        <div class="col-6 text-center ">
          <h5>Beratung und Analyse</h5>
          Beratung und Analyse für Business usecases
        </div>
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
        <div class="col-6 text-center">
          <h5>Forschung und Entwicklung</h5>
          Erforschung und Findung und Anpassung von Methoden
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
          <h5>Deployment</h5>
          Anbindung von tools oder features an Bestehende Systeme
        </div>
        <div class="col-6 text-center">
          <img src="" width="400" height="200">
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
