{% extends "layout.html" %}

{%block css%}
{% endblock %}

{% block content %}


<div class="container morph-wrap">
  <svg id="morph6" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fdf49a">
    <path d="M 757.15545,735.61659 C 767.55757,749.17571 769.94068,767.3852 766.84502,781.81058 763.74936,796.23597 755.17493,806.91667 748.82382,819.84411 742.47271,832.77155 738.34491,847.98516 730.04787,850.46773 721.71113,852.91089 709.16544,842.66242 689.67284,840.4146 670.18024,838.12736 643.74073,843.84076 632.46555,835.48425 621.15066,827.12775 551.46101,767.9712 561.70255,752.99446 571.94408,738.01773 634.37774,683.12658 648.78836,678.35837 663.19898,673.59016 746.71363,722.09689 757.15545,735.61659 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph5" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#A28DFC">
    <path d="M 698.58138,685.9649 C 714.88101,697.53259 725.16913,709.49698 728.00104,717.52788 730.83299,725.50262 689.2598,737.43459 682.40056,751.19506 675.65948,764.95552 687.77336,775.40357 656.21597,798.48958 624.77673,821.57558 565.5696,849.21366 521.85468,846.18552 478.02159,843.21356 449.6807,809.57538 417.79381,779.0265 385.90692,748.47762 350.47405,720.96187 373.52108,705.17785 396.56814,689.33767 453.89162,694.50705 505.88258,685.9649 557.87357,677.36658 682.28173,674.45336 698.58138,685.9649 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph4" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#dedede">
    <path d="M 757.79603,618.41421 C 794.51301,653.6411 783.90058,662.47951 805.79603,690.41421 827.80376,718.46109 746.19341,736.66514 718.79603,768.41421 691.28636,800.16328 670.30139,850.91355 625.94907,870.99512 581.48447,891.18888 517.68092,870.03734 496.79603,851.41421 475.91114,832.90327 496.78934,810.37235 486.79603,768.41421 476.80272,726.45607 472.79603,715.41421 444.79603,681.41421 407.79603,621.41421 586.79603,566.41421 658.79603,595.41421 682.82488,603.37953 721.19133,583.18732 757.79603,618.41421 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph3" width="1440" heighft="1024" viewBox="0 0 1440 1024" style="fill:#b9b9b7">
    <path d="M 1298.4607,0.0030618 C 1291.2089,36.177423 1259.2889,61.22124 1238.2662,94.466503 1217.2434,127.71178 1206.3291,165.27746 1187.9434,164.25227 1169.4844,163.15386 1143.5538,123.46458 1119.4546,103.7664 1095.4285,84.068205 1073.2338,84.361115 1041.2968,70.301444 1009.2865,56.241773 955.24966,30.537504 967.46071,0.0030618 992.81574,0.001201 1033.0751,0.0030618 1062.8251,0.0030618 1092.5751,0.0030618 1118.2488,0.0030618 1145.9607,0.0030618 1196.794,0.0030618 1298.4607,0.0030618 1298.4607,0.0030618 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph2" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#fcd2f9">
    <path d="M 1235.5,0 C 1239.9604,35.3 1216.8485,97.933336 1194.0642,140.23334 1171.4004,182.63334 1148.616,229.53334 1110.0394,241.63334 1071.4627,253.63334 1017.2143,230.83334 972.00726,208.03334 926.92078,185.33334 890.87571,162.73334 860.25548,131.43334 829.5147,100.13334 804.19876,60.033336 820.7144,33.733336 837.23003,7.4333364 852.28898,4.2 894,0 894,0 1008.6667,0 1066,0 1122.5,0 1235.5,0 1235.5,0 Z"/>
  </svg>
</div>

<div class="container morph-wrap">
  <svg id="morph1" width="1440" height="1024" viewBox="0 0 1440 1024" style="fill:#7bf9e5" >
    <path d="M 1066.9179,0 C 1102.5908,45.639154 1049.404,68.028789 1033.9103,132.62802 1018.4167,197.22726 991.85303,243.22121 925.81145,285.17837 859.76987,327.13554 814.70961,202.53231 722.81761,150.82229 630.92561,99.112271 491.40582,180.75949 429.91186,132.62802 368.4179,84.496554 327.42289,50.655804 357.9179,0 357.9179,0 495.25123,0 563.9179,0 661.28925,0 758.66061,0 856.03196,0 926.32727,0 1009.9016,0 1066.9179,0 Z"/>
  </svg>
</div>

<div id="fullpage">

  <div class="container section pt-md-5">
    <div class="row justify-content-start">
      <div class="col-xs-12 col-md-6 text-center">
        <p>
          Die heutigen technischen Möglichkeiten werden in den meisten Firmen nicht völlig ausgeschöpft,
          doch durch kreative Programmierung und den Einsatz von künstlicher Intelligenz
          können neue Wege gegangen werden.
          Wir gehen unvoreingenommen und pragmatisch vor,
          für jede Anwendung gibt es das richtige Werkzeug.
          Die beste Lösung ist so einfach wie möglich und so komplex wie nötig.
          Unsere Arbeit heißt für uns konkret, den technischen Fortschritt aktiv mitzugestalten.
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
      </div>
      <div class="col-xs-12 col-md-6">
      </div>
      <div class="col-xs-12 col-md-6 text-center text-md-left order-md-last order-first py-2">
        <span class="front-slogan">
          kreative Lösungen mit Mehrwert
        </span>
      </div>
    </div>
  </div>

  <div class="container section pt-md-5">
    <div class="row justify-content-start">
      <div class="col-xs-12 col-md-6 text-center">
        <span class="front-slogan">
          Essenz<br>der KI
        </span>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-xs-12 col-md-6 text-center">
        <p>
          Künstliche Intelligenz ist ein großes nicht klar definiertes Feld.
          Doch die neusten großen Fortschritte kommen aus dem Feld des Maschinellen Lernens.
          Diese Algorithmen  werden mit oft großen Datenmengen gefüttert,
          um aus diesen Informationen zu extrahieren und die Bewältigung von verschiedensten
          Aufgaben zu lernen.
          Speziell Neuronale Netze haben hier bahnbrechende Erfolge erzielen können.
          Wir sind auf die Anwendung von tiefen Neuronalen Netzen spezialisiert, aber gleichzeitig
          auch mit diversen anderen Methoden gut vertraut,
          um für jede Anforderung ein passende Lösung finden zu können.
        </p>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row py-3">
      <div class="col text-left">
        <span class="overview-slogan">vom Erstgespräch bis<br> zur Anwendung</span>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-sm-12 col-md-10">
        <div class="row justify-content-end py-4">
          <div class="col-sm-12 col-lg-10 text-center text-md-right order-2 order-md-1">
            <p class="undertext">Beratung und Analyse</p>
            <p>
              Bei einem unverbindlichen Erstgespräch können wir sicherstellen,
              dass eine Anwendung unserer Methoden möglich und zielführend ist.
              Wir bieten auch tiefgreifende Datenanalysen und weiterführende Beratung an,
              um umsetzbare Usecases zu identifizieren.
            </p>
          </div>
          <div class="col-sm-12 col-lg-2 text-center order-1 order-md-2">
            <img src="/static/imgs/icon_beratung.svg" width="120">
          </div>
        </div>

        <div class="row justify-content-start py-4">
          <div class="col-sm-12 col-lg-2 text-center">
            <img src="/static/imgs/icon_forschung.svg" width="120">
          </div>
          <div class="col-sm-12 col-lg-10 text-center text-md-left">
            <p class="undertext">Forschung und Entwicklung</p>
            <p>
              Etablierte state-of-the-art Methoden implementieren, anpassen und optimieren,
              oder mit experimenteller Forschung Neuland betretet und einzigartige high-impact Tools entwickeln.
              Wohin der Weg auch führt, wir helfen.
              Neuartige Methoden können von uns weiterentwickelt und für die Anwendung skaliert werden.
            </p>
          </div>
        </div>

        <div class="row justify-content-end py-4">
          <div class="col-sm-12 col-lg-10 text-center text-md-right order-2 order-md-1">
            <p class="undertext">Deployment</p>
            <p>
              Egal ob Monotlith oder Microservice,
              wir stellen sicher, dass unsere Entwicklungen sich
              in das bestehende System integrieren lassen.
              Falls ein eigenständiges Produkt gewünscht ist,
              bieten wir auch die Entwicklung von kompletten Anwendungen mit Userinterface an.
            </p>
          </div>
          <div class="col-sm-12 col-lg-2 text-center order-1 order-md-2">
            <img src="/static/imgs/icon_deployment.svg" width="120">
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="container section">
    <div class ="row justify-content-end">
      <div class="col-xs-12 col-md-10 order-2 order-md-1">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6 col-md-4 px-md-5 py-2">
            <img src="/static/imgs/icon_text_sprache.svg" width="80" height="80">
            <p class="undertext">Text- und Sprachverarbeitung</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 px-md-5 py-2">
            <img src="/static/imgs/icon_vorhersagen.svg" width="80" height="80">
            <p class="undertext">Vorhersagen und Risikoabschätzungen</p>
          </div>
          <div class="col-sm-12 col-md-4 px-md-5 py-2">
            <img src="/static/imgs/icon_klassifizierung.svg" width="80" height="80">
            <p class="undertext">Klassifizierung</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-6 col-md-4 p-md-5 py-2" >
            <img src="/static/imgs/icon_bild_video.svg" width="80" height="80">
            <p class="undertext">Bild- und Videoanalysen</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 p-md-5 py-2">
            <img src="/static/imgs/icon_workshops.svg" width="80" height="80">
            <p class="undertext">Beratung und Workshops</p>
          </div>
          <div class="col-sm-12 col-md-4 p-md-5 py-2">
            <img src="/static/imgs/icon_datenanalyse.svg" width="80" height="80">
            <p class="undertext">Datenanalysen</p>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-6 col-md-4 px-md-5 py-md-2 py-2">
            <img src="/static/imgs/icon_anomalie.svg" width="80" height="80">
            <p class="undertext">Anomalie Erkennung</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 px-md-5 py-md-2 py-2">
            <img src="/static/imgs/icon_datensatz.svg" width="80" height="80">
            <p class="undertext">Datensatzerstellung</p>
          </div>
          <div class="col-sm-12 col-md-4 px-md-5 py-md-2 py-2">
            <img src="/static/imgs/icon_interface.svg" width="80" height="80">
            <p class="undertext">Userinterfaces und Software-Entwicklung</p>
          </div>
        </div>
      </div>
      <div class="col-12 order-1 order-md-2 py-sm-5">
        <span class="overview-slogan">modulare<br>Diensleistungen</span>
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-end py-5">
      <div class="col-12 text-left text-md-right">
        <span class="overview-slogan">unsere Vorgehensweise</span>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col-md-12 col-lg-6 text-center ">
        <img src="/static/imgs/DevOps.svg" width:"550" style="width:100%">

      </div>
      <div class="col-md-12 col-lg-6 text-center py-5">
        <p>
          Ein strukturiertes Vorgehen mit klaren Prozessschritten und Zwischenzielen macht unsere Arbeit transparent.
          In vielen Fällen arbeiten wir iterativ mit Kundenfeedback,
          um bestmögliche Ergebnisse sicherzustellen.
          Während des Prozesses können wir weitgehend unabhängiges arbeiten,
          oder eng verwoben mit dem firmeeigenen Entwicklerteam.
        </p>
      </div>

    </div>
  </div>

  <div class="container section">
    <div class="row justify-content-start py-2">
      <div class="col-sm-12 col-md-6">
        <div class="row justify-content-end">
          <div class="col-sm-12 col-md-9 py-2 text-center text-md-left">
            <span class="overview-slogan">unser Fokus:<br>Sicherheit &<br>Transparenz</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-sm-12 col-md-6 text-center py-2">
        Datensicherheit und Anonymität sind für uns sowohl Firmenintern als auch Privat
        Themen die uns am Herzen liegen.
        Deshalb verlässt nichts unser Haus, wir haben eigene Server & GPU-Cluster und
        übertragen somit keine Daten an Drittanbieter um zum Beispiel Cloudcomputing zu nutzen.
        Alle Daten liegen sicher verschlüsselt bei uns und werden nach Projektabschluss unwideruflich
        gelöscht.
      </div>
    </div>
  </div>


  <div class="container section">
    <div class="row justify-content-start">
      <div class="col-sm-12 col-md-7 text-center text-md-right py-5">
        <span class="overview-slogan">Du willst mit uns arbeiten?</span>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-sm-12 col-md-5 ">
        <a href="mailto:info@albatros-coding.de" class="info-button"
           style="text-decoration: none;  color: inherit; float:left;">
          <span>info@albatros-coding.de</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
        <a href="tel:+4917638601936" class="info-button" target="_blank" rel="noopener noreferrer"
           style="text-decoration: none;  color: inherit; float:left;">
          <span>0176-38601936</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
      </div>
</div>

<!-- footer -->
<div class="container section fp-auto-height" >
  <div class="row align-items-end text-center" height="600px">
    <div class="col-4">
      <a class="footer-links" href="gdpr">Datenschutz</a>
    </div>

    <div class="col-4">
      <a class="footer-links" href="impressum">Impressum</a>
    </div>

    <div class="col-4">
      <a class="footer-links" href="jobs">Jobs</a>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block scripts %}
<script  type="text/javascript" src="/static/blobs_services.js"></script>
<script  type="text/javascript" src="/static/js.js"></script>
{% endblock %}
