@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height:100%;
    widht:100%;
    font-family: "Poppins", sans-serif;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* SVG Morph */
.morph-wrap {
    position: fixed;
    top: 0; /*0*/
    left: 0;
    bottom: 0;
    width: 100%;
    /*overflow: hidden;*/
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#morph1 {
    position: relative;
    height: 100%;
    flex: none;
}

#morph2 {
    position: relative;
    height: 100%;
    flex: none;
}


/* not needed but better for testing */
.morph-marker{
    /*min-height: 800px;*/

}

.last-morph{}
