@import url('https://fonts.googleapis.com/css?family=Cairo:400,500,700');
@font-face {
    font-family: Prime;
    src: url(/static/fonts/Prime-Regular.woff);
}

html, body {
    height:100%;
    widht:100%;
    font-family: "Cairo", sans-serif;
    background: url(/static/imgs/grid.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 20px;
}

.h1, .h2, .h3, .h4, .h5 {font-family: "Prime";}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* SVG Morph */
.morph-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#morph1 {
    position: fixed;}

#morph2 {
    position: fixed;}

#morph3 {
    position: fixed;}

.morph-marker{
    /*min-height: 800px;*/

}

.last-morph{}
